body {
    font-family:  Arial;
    color: #444;
    padding: 20px;
    background: url(soft_circle_scales.png);
}

.button {
    display: inline-block;
    margin: 40px;
    width: 100px;
    height: 100px;
    background: url(soft_circle_scales.png);
    cursor: pointer;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    box-shadow: inset 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), inset 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);

    -moz-box-shadow: 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), inset 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);

    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), inset 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);
}
    
.button:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,.2), inset 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 2px 0 rgba(0, 0, 0, 0.1);

    -moz-box-shadow: inset 0 0 20px rgba(0,0,0,.2), inset 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 2px 0 rgba(0, 0, 0, 0.1);

    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.2), inset 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 2px 0 rgba(0, 0, 0, 0.1);
}

.button:hover::after {
    background-position: center 52%;
}

.button::after {
    content: '';
    width: 100px;
    height: 100px;
    display: block;
    opacity: .7;
}

.btn-3d-cube::after {
    background: url(http://www.defaulticon.com/images/icons32x32/3D-Cube.png?itok=IXHcJaTO) center no-repeat;
}

.btn-bank::after {
    background: url(http://www.defaulticon.com/images/icons32x32/bank_0.png?itok=xrTM4lcc) center no-repeat;;
}

.btn-connect::after {
 background: url(http://www.defaulticon.com/images/icons32x32/connect.png?itok=l9VAKqNG) center no-repeat;;
}




ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1.5em;
    margin: 10px;

    /* list-style: inside square url() */
    list-style-type: armenian;
    list-style-position: inside;
    list-style-image: url(https://www.hcareers.com/images/icons/mini-arrow-left.gif);
}

.container {
    background: #eee;
    border: 3px solid #777;
}

.container::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

p {
    padding: 15px;
}

img {
    width: 40%;
    float: left;
    margin: 15px;
}

.text1 {
    background: rgba(228, 203, 203, 0.445);
    float: left;
    width: 300px;
}

.text2 {
    clear: both;
}